.header{
    background-color: #071a59;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.router-link{
    text-decoration: none;
}
.login-page {
    border:1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #071a59;
}
.section-title{
    background-color: #071a59;
    border-bottom: 5px solid #ffde24;
}